<!doctype html>
<html lang="en" ng-app="MissionCP">
  <head>
    <meta charset="utf-8">
    <title>Angular Store</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ngGeolocation/ngGeolocation.min.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/LocationsController.js"></script>
    <script src="js/GeolocationController.js"></script>
    <script src="js/TreasureController.js"></script>
  </head>

  <body ng-controller="LocationsController as locationCtrl">
    <h1>Mission Christmas Parcel</h1>
    <div>
    <form name="SelectLocation">
      <label for="locationSelect"> Select Present Location: </label>
      <select name="singleSelect" ng-model="data.location" ng-init="data.location='0'" ng-change="locationCtrl.selectSite(data.location)">
        <option ng-repeat="location in locationCtrl.locations.items" ng-value="{{location.location}}">{{location.location}}</option>
      </select>
      {{locationCtrl.site}}
    </form>
    <section ng-controller="TreasureController as treasure">
      <ui-gmap-google-map center="locationCtrl.map.center" zoom="locationCtrl.map.zoom">
        <ui-gmap-marker coords="treasure.marker.coords" idkey="treasure.marker.id">
          </ui-gmap-marker>
      </ui-gmap-google-map>
    </section>
    </div>

  </body>
</html>
