<!doctype html>
<html lang="en" ng-app="MissionCP">
  <head>
    <meta charset="utf-8">
    <title>Angular Store</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ngGeolocation/ngGeolocation.min.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/LocationsController.js"></script>
  </head>

  <body ng-controller="LocationsController as locationCtrl">
    <h1>Mission Christmas Parcel</h1>
    <div>
      <ul class="list-group">
        <li ng-repeat="location in locationCtrl.locations.items">
          <h2>{{location.location}}</h2>
          <p>Lat:{{location.Lat}}, Long:{{location.Long}}</p>
        </li>
      </ul>
    </div>
    <div>
    <form name="SelectLocation">
      <label for="locationSelect"> Select Present Location: </label>
      <select name="singleSelect" ng-model="data.location" ng-init="data.location='0'">
        <option ng-repeat="location in locationCtrl.locations.items" ng-value="{{location.location}}" >{{location.location}}</option>
      </select>
      <ui-gmap-google-map center="locationCtrl.locations.items[{{data.location}}].map.center" zoom="locationCtrl.locations.items[{{data.location}}].map.zoom"></ui-gmap-google-map>
    </form>
      A map will be inserted here with geolocation tracking
    </div>

  </body>
</html>
